/* text spots in center */

.welcome-mat {
  margin-top: 5rem;
  text-align: center;
}

.welcome-header {
  color: #ccc;
  font-size: 1.5rem;
}

.welcome-icon {
  padding: 3rem;
  color: #ccc;
  font-size: 4rem;
}
