/* text spots in center */

.welcome-mat {
  position: relative;
  top: 25%;
  text-align: center;
}

.welcome-header {
  color: #ccc;
  font-size: 1.5rem;
}

.surprise {
  padding: 3rem;
  color: #ccc;
  font-size: 4rem;
}
