/* form stuff */

form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 2rem);
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background: #fff;
  color: #333;
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  z-index: 6;
}

.form-heading {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  width: 100%;
}

.form-input {
  position: relative;
  width: 100%;
  border: 0.1rem solid #ddd;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
}

.form-label {
  padding: 0.5rem 0;
  font-size: 1rem;
}

.form-input:focus {
  outline: none;
  box-shadow: 0 0 0 1.5pt #1976d2;
}

.text-area {
  width: 100%;
  min-height: 6rem;
  resize: none;
  font-family: inherit;
}

.form-button {
  width: 100%;
  padding: 0.5rem 0;
  background: #27ae60;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1rem;
}

.form-button:hover {
  cursor: pointer;
  filter: brightness(90%);
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.form-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 50%;
  font-size: 1.2rem;
}

.form-close:hover {
  cursor: pointer;
  background: #eee;
}

// delete form
#delete-label {
  text-align: center;
  margin: 1rem 0;
}

#delete-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 1rem;
}

.delete-button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background: none;
  border: none;
}

.delete-button:hover {
  filter: brightness(90%);
  cursor: pointer;
}

#confirm-delete {
  background-color: #c0392b;
  color: #fff;
}

#reject-delete {
  background-color: #eee;
  border: #666;
}

//error stuff

.error {
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: #f1948a;
  color: #943126;
  border-radius: 0.5rem;
}
