// header

#project-header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.project-heading {
  font-size: 1.4rem;
  font-weight: 700;
}
