// header

.project-header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid #aaa;
}

.project-heading {
  font-size: 1.4rem;
  font-weight: 700;
}
