@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

.task-box {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  border-bottom: 0.1rem solid #ddd;
}

.task-collapsed {
  position: relative;
  display: grid;
  grid-template-columns: 3rem repeat(3, 1fr) 3rem;
  min-height: 4rem;
  align-items: center;
}

.complete-button {
  grid-column: 1/2;
  place-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border: 0.2rem solid #aaa;
  border-radius: 50%;
  background: none;
  outline: none;
}

.complete-button:hover {
  animation: grow 0.3s linear;
  animation-iteration-count: 1;
  cursor: pointer;
}

.checkmark {
  color: #fff;
  font-size: 1.5rem;
}

.task-click-area {
  position: absolute;
  left: 3rem;
  right: 3rem;
  height: 4rem;
  width: 70%;
  z-index: inherit;
}

.task-info {
  grid-column: 2/5;
  display: flex;
  flex-direction: column;
}

.task-name {
  padding: 0 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.task-date {
  padding: 0 2rem;
  font-size: 1rem;
  font-style: italic;
  color: #777;
}

// added details
.task-expanded {
  max-height: 0;
  transition: all 0.15s ease-out;
  overflow: hidden;
}

.details-description {
  font-size: 1rem;
  line-height: 2;
}

.edit-task-button {
  border: none;
  background: none;
  padding: 0.5rem 0.75rem;
  border-radius: 50%;
  font-size: 1.2rem;
}

.edit-task-button:hover {
  cursor: pointer;
  background-color: #eee;
}

// end of project button
.new-task-button {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 2rem;
  background: none;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}

.new-task-button:hover {
  background: #eee;
  cursor: pointer;
}

.new-task-button i {
  padding: 0.5rem;
  color: #333;
  font-size: 1rem;
}

// conditionals
.text-done {
  text-decoration: line-through;
  color: #ccc;
}

.task-complete {
  background: #27ae60;
  border: none;
}

.high {
  border: 0.2rem solid #c0392b;
}

.medium {
  border: 0.2rem solid #f1c40f;
}

.low {
  border: 0.2rem solid #1976d2;
}

.expand {
  max-height: 400px;
  transition: all 0.25s ease-in-out;
}
