@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

#new-task {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background: #1976d2;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1rem;
}

#new-task:hover {
  cursor: pointer;
  background: #1e88e5;
}

#tasks {
  padding: 0 1rem;
}

.task-box {
  display: grid;
  grid-template-columns: 3rem repeat(3, 1fr) 3rem;
  grid-template-rows: 4rem;
  align-items: center;
  margin: 1rem 0;
  border-bottom: 0.1rem solid #eee;
}

.complete-button {
  grid-column: 1/2;
  place-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  outline: none;
  z-index: 2;
}

.complete-button:hover {
  animation: grow 0.3s linear;
  animation-iteration-count: 1;
  cursor: pointer;
}

.checkmark {
  color: #fff;
  font-size: 1.5rem;
}

.task-info {
  grid-column: 2/5;
  display: flex;
  flex-direction: column;
}

.task-name {
  padding: 0 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.task-date {
  padding: 0 2rem;
  font-size: 1rem;
  font-style: italic;
  color: #777;
}

.task-option {
  grid-column: 5/6;
  place-self: end;
  padding: 1rem;
  // text-align: right;
}

.task-option:hover {
  cursor: pointer;
}

.text-done {
  text-decoration: line-through;
  color: #ccc;
}

.task-complete {
  background: #1976d2;
}

.high {
  border: 0.2rem solid #a93226;
  background: #f9ebea;
}

.medium {
  border: 0.2rem solid #d4ac0d;
  background: #fef9e7;
}

.low {
  border: 0.2rem solid #229954;
  background: #e9f7ef;
}

#task-details-box {
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // width: 100%;
  // max-width: 30rem;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  margin-bottom: 1rem;
  background: #fff;
  border-bottom: 0.1rem solid #eee;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  z-index: 6;
  overflow: hidden;
}

#details-header {
  position: relative;
  padding: 1rem;
  // border-bottom: 0.1rem solid #00;
}

.details-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
}

.details-date {
  font-size: 1rem;
  font-weight: 500;
  color: #666;
}

#edit-task-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
}

#details-main {
  padding: 0 1rem 1rem 1rem;
}

.details-description {
  font-size: 1rem;
  line-height: 2;
}

.details-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 800;
    border: 0.1rem solid #eee;
  }
}
