@import "./reset";
@import "./forms";
@import "./projects";
@import "./tasks";
@import "./sidenav";
@import "./dropdown";
@import "./default_pages";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

html {
  font-size: 16px;
}

* {
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  display: grid;
  max-width: 100vw;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 4rem 1fr;
  background: #fff;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* header */

#header {
  position: fixed;
  width: 100%;
  grid-area: 1/1/2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background: #16a085;
  z-index: 2;
}

.brand {
  justify-self: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 900;
  text-align: center;
}

#expand-nav {
  border: none;
  background: none;
  color: #fff;
  font-size: 1.6rem;
  :hover {
    filter: brightness(90%);
    cursor: pointer;
  }
}

#new-task {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 1.5rem;
  background: #2980b9;
  color: #fff;
  font-size: 1rem;
}

#new-task:hover {
  filter: brightness(90%);
  cursor: pointer;
}

/* main stuff */

#main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.large {
  grid-area: 2/2/3/3;
}

.small {
  grid-area: 2/1/3/3;
}

/* class toggles */

.hidden {
  display: none;
}

@keyframes shake {
  0% {
    left: -5px;
  }
  100% {
    right: -5px;
  }
}

@keyframes grow {
  0% {
    height: 2.5rem;
    width: 2.5rem;
  }
  25% {
    height: 2.75rem;
    width: 2.75rem;
  }
  50% {
    height: 3rem;
    width: 3rem;
  }
  75% {
    height: 2.75rem;
    width: 2.75rem;
  }
  100% {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@media screen and (max-width: 599px) {
  #main {
    padding: 0 0.5rem;
  }

  #header {
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 600px) {
  #main {
    padding: 0 0.5rem;
  }

  #header {
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 900px) {
  #main {
    padding: 0 1rem;
  }

  #header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 1200px) {
  #main {
    padding: 0 2rem;
  }

  #header {
    padding: 0 2rem;
  }

  html {
    font-size: 18;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 20;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 22;
  }
}
